In [1]:
# prepare data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os, json
import glob
import operator
from IPython.display import display, HTML

In [2]:
%load_ext autoreload
%autoreload 1

from shared_globals_functions import *
%aimport shared_globals_functions

In [3]:
t_name='t1'
merge_list=['t1.1', 't1.2', 't1.3', 't1.4']

cust_dir = 'test'

tdidf_max_df=1.0 # defaults to 1.0 (float), can be an int too
tdidf_min_df=4
use_tfidfvectorizer = True
use_stopwords = True
use_extended_stopwords = False

umap_metric='hellinger'
umap_ncomponents=2
umap_random_state=42
umap_min_dist=0 #0.1
umap_n_neighbors=30 #10, 30

min_cluster=10
max_cluster=30
clust_int=3

ss_min = 50
ss_max = 500
ss_int = 50
cs_min = 50
cs_max = 500
cs_int = 50

#tf-idf vectorizer
#max_df=0.3
#min_df=

#kmeans
#n_clusters
#n_init
#max_iter

In [4]:
# Parameters
cust_dir = "ar3/"
use_tfidfvectorizer = True
tdidf_max_df = 1.0
tdidf_min_df = 4
use_stopwords = True
use_extended_stopwords = False
umap_metric = "hellinger"
umap_ncomponents = 2
umap_random_state = 42
umap_min_dist = 0
umap_n_neighbors = 30
min_cluster = 10
max_cluster = 50
clust_int = 3
ss_min = 50
ss_max = 500
ss_int = 50
cs_min = 50
cs_max = 500
cs_int = 50
t_name = "t2.4.1s"
merge_list = ["t2.4.4", "t2.4.2", "t2.4.6"]

In [5]:
testset = from_disk(t_name)

reading /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/t2.4.1s.pkl

In [6]:
len(testset[testset['topics'].str.len() > 0])

217922

In [7]:
if len(merge_list)>0:
    t_name = f'{t_name}+{"+".join([re.sub(r"t", "", tid) for tid in merge_list])}'
    print(t_name)

t2.4.1s+2.4.4+2.4.2+2.4.6

In [8]:
testset_merge = create_merge(testset, merge_list, merge_to_one=True)

reading /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/t2.4.4.pkl
reading /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/t2.4.2.pkl

reading /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/t2.4.6.pkl

In [9]:
len(testset_merge[testset_merge['topics'].str.len() > 0])

217922

In [10]:
df = testset_merge.merge(testset, on=['name'], how='left', indicator=True)

In [11]:
df[df['_merge']!='both']

Empty DataFrame
Columns: [name, topics_x, topics_y, _merge]
Index: []

In [12]:
df[df['topics_x'].str.len() == 0]

Empty DataFrame
Columns: [name, topics_x, topics_y, _merge]
Index: []

In [13]:
if len(merge_list)>0:
    testset = testset_merge

In [14]:
import pandas as pd
import umap
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [15]:
orig_testset = testset

In [16]:
my_stop_words=None
if use_stopwords:
    my_stop_words='english'
    if use_extended_stopwords:
        print("todo")

if use_tfidfvectorizer:
    vectorizer = TfidfVectorizer(min_df=tdidf_min_df, max_df=tdidf_max_df, stop_words=my_stop_words)
else:
    vectorizer = CountVectorizer(min_df=tdidf_min_df, max_df=tdidf_max_df, stop_words=my_stop_words)

print(f"total repos {len(testset[testset['topics'].str.len() > 0])}")
testset = testset[testset['topics'].str.len() > 0].reset_index()

if isinstance(testset['topics'][0], list):
    testset['topics'] = testset['topics'].apply(lambda x: ' '.join(x))
    print("topics came as list ... consider joining it before")

cr_start()
word_doc_matrix = vectorizer.fit_transform(testset['topics'])
runtime_vectorizer = cr_getrt()

total repos 217922
topics came as list ... consider joining it before

In [17]:
runtime_vectorizer

3.364668130874634

In [18]:
word_doc_matrix

<217922x740 sparse matrix of type '<class 'numpy.float64'>'
	with 6589929 stored elements in Compressed Sparse Row format>

In [19]:
class ProgressWriter:
    def write(self, text):
        print("custom progress", n, total)

    def flush(self):
        pass

#tqdm_kwds = {"file": "progress_writer", "disable": False }
tqdm_kwds = {"disable": False }

In [20]:
%%time
# try also with default parameters for n_neighbors and min_dist

cr_start()

embedding = umap.UMAP(
    n_neighbors=umap_n_neighbors,
    min_dist=umap_min_dist,
    n_components=umap_ncomponents, metric=umap_metric,
    tqdm_kwds=tqdm_kwds,
    random_state=umap_random_state,
).fit(word_doc_matrix)

runtime_umap = cr_getrt()

/home/manuel/d3tect-tools/venv/lib/python3.9/site-packages/umap/umap_.py:125: UserWarning: A few of your vertices were disconnected from the manifold.  This shouldn't cause problems.
Disconnection_distance = 1 has removed 377 edges.
It has only fully disconnected 13 vertices.
Use umap.utils.disconnected_vertices() to identify them.
  warn(

Epochs completed:   0%|            0/200 [00:00]

CPU times: user 42min 38s, sys: 3min 53s, total: 46min 32s
Wall time: 10min 52s

In [21]:
print(runtime_umap)

652.1513833999634

In [22]:
%%time

cr_start()
clusterable_embedding = embedding.transform(word_doc_matrix)
runtime_umap_transform = cr_getrt()

/home/manuel/d3tect-tools/venv/lib/python3.9/site-packages/scipy/sparse/_index.py:146: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.
  self._set_arrayXarray(i, j, x)

Epochs completed:   0%|            0/30 [00:00]

CPU times: user 25min 33s, sys: 15.5 s, total: 25min 48s
Wall time: 23min 53s

In [23]:
print(runtime_umap_transform)

1433.106828212738

In [24]:
umap_embedding = pd.DataFrame(embedding.embedding_, columns=['x', 'y']) # (umap_t)
umap_clusterable_embedding = pd.DataFrame(clusterable_embedding, columns=['x', 'y']) # (umap_t)

umap_embedding['name'] = testset['name']
umap_clusterable_embedding['name'] = testset['name']

to_disk_results(umap_embedding, f'umap_embedding_{t_name}', subdir=f"{cust_dir}")
to_disk_results(umap_clusterable_embedding, f'umap_clusterable_embedding_{t_name}', subdir=f"{cust_dir}")

writing /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/results/ar3//umap_embedding_t2.4.1s+2.4.4+2.4.2+2.4.6.pkl
writing /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/results/ar3//umap_clusterable_embedding_t2.4.1s+2.4.4+2.4.2+2.4.6.pkl

https://hdbscan.readthedocs.io/en/latest/parameter_selection.html

Since we have seen that min_samples clearly has a dramatic effect on clustering, the question becomes: how do we select this parameter? The simplest intuition for what min_samples does is provide a measure of how conservative you want you clustering to be. The larger the value of min_samples you provide, the more conservative the clustering – more points will be declared as noise, and clusters will be restricted to progressively more dense areas. We can see this in practice by leaving the min_cluster_size at 60, but reducing min_samples to 1.

In [25]:
import hdbscan

def clusterapply_hdbscan(hdbscan_min_samples, min_cluster_size, runner_name):
    cr_start()
    labels = hdbscan.HDBSCAN(
        min_samples=hdbscan_min_samples,
        min_cluster_size=min_cluster_size,
    ).fit_predict(clusterable_embedding)
    runtime_hdb = cr_getrt()
    
    stats = {'type': "hdb",
             'testset': t_name,
             'version': td_version,
            }
    
    detail_stats = {'hdb_minclust': min_cluster_size,
                    'hdb_minsamp': hdbscan_min_samples,
                    'runtime': runtime_hdb,
                    'tdf': f"rt_vect: {runtime_vectorizer}, min_df: {tdidf_min_df}, max_df: {tdidf_max_df}, stopwords: {use_stopwords}, extended stopwords: {use_extended_stopwords}",
                    'umap': f"{umap_metric}, rt_umap_tf: {runtime_umap_transform}, rt_umap: {runtime_umap}, ncomp: {umap_ncomponents}, rs: {umap_random_state}, min_dist: {umap_min_dist}, no_neigh: {umap_n_neighbors}",
                    #'gtr': grtr,
                    #'gtr_rel': grtr_rt
                   }
    prediction = stats
    prediction['name'] = runner_name
    #prediction.update(max_fscore(my_results[[tag, 'clabel']].apply(tuple, axis=1).to_dict()))
    #prediction.update({'tot_clust': total_clusters, 'tot_anom':no_anomalies, 'no_lab':missing_clabel, 'anom':identified_anom})
    prediction.update(detail_stats)
    res.append(prediction.copy())
    display(pd.DataFrame.from_dict(res))
    return labels

res = []
hdb_labels_results = pd.DataFrame()
hdb_labels_results['name'] = testset['name'].copy()


for cs in range(cs_min, cs_max, cs_int): #50, 500
    for ss in range(ss_min, ss_max, ss_int): #50 500
        runner_name = f'ss{ss}cs{cs}'
        hdb_labels_results[runner_name] = clusterapply_hdbscan(ss, cs, runner_name)

results = pd.DataFrame.from_dict(res)
res = []

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.59263,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.59263,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.98416,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
46,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs300,300,100,5.070166,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
46,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs300,300,100,5.070166,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
47,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs300,300,150,5.788585,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
46,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs300,300,100,5.070166,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
47,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs300,300,150,5.788585,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
48,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs300,300,200,6.136092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
46,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs300,300,100,5.070166,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
47,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs300,300,150,5.788585,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
48,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs300,300,200,6.136092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
49,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs300,300,250,6.859882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
46,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs300,300,100,5.070166,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
47,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs300,300,150,5.788585,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
48,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs300,300,200,6.136092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
49,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs300,300,250,6.859882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
50,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs300,300,300,7.385851,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
46,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs300,300,100,5.070166,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
47,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs300,300,150,5.788585,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
48,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs300,300,200,6.136092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
49,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs300,300,250,6.859882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
50,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs300,300,300,7.385851,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
51,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs300,300,350,8.657527,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
46,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs300,300,100,5.070166,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
47,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs300,300,150,5.788585,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
48,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs300,300,200,6.136092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
49,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs300,300,250,6.859882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
50,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs300,300,300,7.385851,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
51,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs300,300,350,8.657527,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
52,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs300,300,400,9.001415,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
46,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs300,300,100,5.070166,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
47,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs300,300,150,5.788585,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
48,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs300,300,200,6.136092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
49,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs300,300,250,6.859882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
50,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs300,300,300,7.385851,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
51,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs300,300,350,8.657527,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
52,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs300,300,400,9.001415,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
53,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs300,300,450,9.607046,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
46,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs300,300,100,5.070166,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
47,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs300,300,150,5.788585,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
48,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs300,300,200,6.136092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
49,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs300,300,250,6.859882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
50,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs300,300,300,7.385851,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
51,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs300,300,350,8.657527,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
52,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs300,300,400,9.001415,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
53,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs300,300,450,9.607046,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
54,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs350,350,50,4.611011,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
46,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs300,300,100,5.070166,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
47,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs300,300,150,5.788585,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
48,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs300,300,200,6.136092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
49,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs300,300,250,6.859882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
50,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs300,300,300,7.385851,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
51,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs300,300,350,8.657527,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
52,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs300,300,400,9.001415,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
53,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs300,300,450,9.607046,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
54,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs350,350,50,4.611011,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
55,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs350,350,100,5.303963,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
46,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs300,300,100,5.070166,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
47,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs300,300,150,5.788585,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
48,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs300,300,200,6.136092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
49,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs300,300,250,6.859882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
50,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs300,300,300,7.385851,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
51,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs300,300,350,8.657527,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
52,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs300,300,400,9.001415,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
53,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs300,300,450,9.607046,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
54,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs350,350,50,4.611011,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
55,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs350,350,100,5.303963,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
56,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs350,350,150,5.843121,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
46,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs300,300,100,5.070166,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
47,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs300,300,150,5.788585,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
48,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs300,300,200,6.136092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
49,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs300,300,250,6.859882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
50,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs300,300,300,7.385851,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
51,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs300,300,350,8.657527,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
52,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs300,300,400,9.001415,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
53,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs300,300,450,9.607046,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
54,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs350,350,50,4.611011,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
55,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs350,350,100,5.303963,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
56,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs350,350,150,5.843121,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
57,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs350,350,200,6.415372,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
46,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs300,300,100,5.070166,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
47,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs300,300,150,5.788585,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
48,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs300,300,200,6.136092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
49,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs300,300,250,6.859882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
50,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs300,300,300,7.385851,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
51,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs300,300,350,8.657527,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
52,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs300,300,400,9.001415,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
53,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs300,300,450,9.607046,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
54,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs350,350,50,4.611011,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
55,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs350,350,100,5.303963,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
56,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs350,350,150,5.843121,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
57,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs350,350,200,6.415372,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
58,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs350,350,250,7.218239,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
5,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs50,50,300,7.529884,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
6,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs50,50,350,8.131572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
7,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs50,50,400,8.775982,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
8,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs50,50,450,10.357880,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
9,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs100,100,50,4.509253,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
10,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs100,100,100,5.088096,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
11,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs100,100,150,5.737361,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
12,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs100,100,200,6.006303,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
13,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs100,100,250,6.954422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
14,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs100,100,300,7.348227,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
15,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs100,100,350,8.875189,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
16,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs100,100,400,9.492738,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
17,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs100,100,450,10.190790,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
18,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs150,150,50,4.492366,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
19,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs150,150,100,5.130793,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
20,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs150,150,150,5.685092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
21,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs150,150,200,6.066034,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
22,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs150,150,250,6.822405,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
23,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs150,150,300,7.459572,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
24,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs150,150,350,9.160318,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
25,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs150,150,400,10.140433,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
26,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs150,150,450,9.626941,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
27,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs200,200,50,4.547894,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
28,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs200,200,100,5.018274,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
29,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs200,200,150,5.749901,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
30,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs200,200,200,6.363662,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
31,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs200,200,250,6.641051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
32,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs200,200,300,7.435222,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
33,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs200,200,350,9.261149,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
34,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs200,200,400,9.086581,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
35,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs200,200,450,9.595665,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
36,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs250,250,50,4.839051,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
37,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs250,250,100,5.400187,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
38,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs250,250,150,5.947568,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
39,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs250,250,200,6.136852,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
40,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs250,250,250,6.876594,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
41,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs250,250,300,7.473408,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
42,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs250,250,350,8.619550,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
43,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs250,250,400,8.832114,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
44,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs250,250,450,9.512882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
45,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs300,300,50,4.432593,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
46,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs300,300,100,5.070166,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
47,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs300,300,150,5.788585,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
48,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs300,300,200,6.136092,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
49,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs300,300,250,6.859882,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
50,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs300,300,300,7.385851,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
51,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs300,300,350,8.657527,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
52,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs300,300,400,9.001415,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
53,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs300,300,450,9.607046,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
54,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs350,350,50,4.611011,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
55,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs350,350,100,5.303963,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
56,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs350,350,150,5.843121,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
57,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs350,350,200,6.415372,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
58,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs350,350,250,7.218239,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
59,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs350,350,300,7.577160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
56,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs350,350,150,5.843121,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
57,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs350,350,200,6.415372,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
58,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs350,350,250,7.218239,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
59,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs350,350,300,7.577160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
60,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs350,350,350,8.113601,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
57,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs350,350,200,6.415372,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
58,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs350,350,250,7.218239,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
59,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs350,350,300,7.577160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
60,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs350,350,350,8.113601,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
61,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs350,350,400,8.930632,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
58,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs350,350,250,7.218239,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
59,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs350,350,300,7.577160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
60,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs350,350,350,8.113601,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
61,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs350,350,400,8.930632,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
62,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs350,350,450,9.648006,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
59,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs350,350,300,7.577160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
60,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs350,350,350,8.113601,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
61,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs350,350,400,8.930632,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
62,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs350,350,450,9.648006,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
63,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs400,400,50,4.586862,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
60,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs350,350,350,8.113601,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
61,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs350,350,400,8.930632,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
62,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs350,350,450,9.648006,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
63,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs400,400,50,4.586862,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
64,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs400,400,100,5.125933,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
61,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs350,350,400,8.930632,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
62,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs350,350,450,9.648006,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
63,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs400,400,50,4.586862,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
64,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs400,400,100,5.125933,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
65,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs400,400,150,5.696514,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
62,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs350,350,450,9.648006,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
63,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs400,400,50,4.586862,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
64,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs400,400,100,5.125933,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
65,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs400,400,150,5.696514,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
66,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs400,400,200,6.358217,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
63,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs400,400,50,4.586862,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
64,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs400,400,100,5.125933,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
65,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs400,400,150,5.696514,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
66,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs400,400,200,6.358217,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
67,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs400,400,250,6.980667,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
64,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs400,400,100,5.125933,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
65,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs400,400,150,5.696514,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
66,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs400,400,200,6.358217,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
67,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs400,400,250,6.980667,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
68,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs400,400,300,7.811960,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
65,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs400,400,150,5.696514,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
66,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs400,400,200,6.358217,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
67,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs400,400,250,6.980667,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
68,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs400,400,300,7.811960,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
69,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs400,400,350,8.247360,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
66,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs400,400,200,6.358217,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
67,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs400,400,250,6.980667,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
68,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs400,400,300,7.811960,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
69,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs400,400,350,8.247360,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
70,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs400,400,400,8.746963,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
67,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs400,400,250,6.980667,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
68,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs400,400,300,7.811960,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
69,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs400,400,350,8.247360,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
70,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs400,400,400,8.746963,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
71,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs400,400,450,9.507989,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
68,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs400,400,300,7.811960,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
69,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs400,400,350,8.247360,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
70,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs400,400,400,8.746963,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
71,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs400,400,450,9.507989,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
72,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs450,450,50,4.725910,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
69,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs400,400,350,8.247360,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
70,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs400,400,400,8.746963,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
71,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs400,400,450,9.507989,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
72,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs450,450,50,4.725910,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
73,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs450,450,100,5.118718,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
70,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs400,400,400,8.746963,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
71,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs400,400,450,9.507989,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
72,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs450,450,50,4.725910,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
73,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs450,450,100,5.118718,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
74,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs450,450,150,5.759422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
71,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs400,400,450,9.507989,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
72,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs450,450,50,4.725910,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
73,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs450,450,100,5.118718,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
74,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs450,450,150,5.759422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
75,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs450,450,200,6.199148,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
72,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs450,450,50,4.725910,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
73,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs450,450,100,5.118718,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
74,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs450,450,150,5.759422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
75,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs450,450,200,6.199148,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
76,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs450,450,250,7.149237,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
73,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs450,450,100,5.118718,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
74,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs450,450,150,5.759422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
75,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs450,450,200,6.199148,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
76,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs450,450,250,7.149237,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
77,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs450,450,300,7.598849,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
74,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs450,450,150,5.759422,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
75,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs450,450,200,6.199148,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
76,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs450,450,250,7.149237,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
77,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs450,450,300,7.598849,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
78,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs450,450,350,8.223150,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
75,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs450,450,200,6.199148,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
76,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs450,450,250,7.149237,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
77,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs450,450,300,7.598849,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
78,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs450,450,350,8.223150,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
79,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs450,450,400,8.856596,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

,type,testset,version,name,hdb_minclust,hdb_minsamp,runtime,tdf,umap
0,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss50cs50,50,50,5.592630,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
1,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss100cs50,50,100,4.984160,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
2,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss150cs50,50,150,5.671477,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
3,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss200cs50,50,200,6.266567,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
4,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs50,50,250,7.486322,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
...,...,...,...,...,...,...,...,...,...
76,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss250cs450,450,250,7.149237,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
77,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss300cs450,450,300,7.598849,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
78,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss350cs450,450,350,8.223150,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
79,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss400cs450,450,400,8.856596,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."
80,hdb,t2.4.1s+2.4.4+2.4.2+2.4.6,1,ss450cs450,450,450,9.841963,"rt_vect: 3.364668130874634, min_df: 4, max_df:...","hellinger, rt_umap_tf: 1433.106828212738, rt_u..."

In [26]:
hdb_labels_results

,name,ss50cs50,ss100cs50,ss150cs50,ss200cs50,ss250cs50,ss300cs50,ss350cs50,ss400cs50,ss450cs50,...,ss450cs400,ss50cs450,ss100cs450,ss150cs450,ss200cs450,ss250cs450,ss300cs450,ss350cs450,ss400cs450,ss450cs450
0,technopagan/mss-saliency,-1,-1,-1,-1,-1,-1,1,3,5,...,2,24,7,23,-1,-1,-1,-1,2,2
1,snmnmin12/selective-search,-1,-1,-1,-1,-1,-1,1,3,5,...,2,21,7,-1,-1,-1,-1,-1,2,2
2,google/chaps-linux,-1,-1,-1,74,-1,55,1,3,5,...,2,31,7,31,-1,38,35,34,2,2
3,lukasolson/speech-router,134,70,48,50,36,31,1,3,5,...,2,17,7,21,25,20,18,19,2,2
4,XavierTecBr/qbr-admin,-1,-1,-1,-1,-1,-1,1,3,5,...,2,-1,7,-1,-1,-1,-1,-1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217917,bhagatabhijeet/bhagatabhijeet,104,-1,-1,-1,-1,-1,1,3,5,...,2,-1,7,-1,-1,-1,-1,-1,2,2
217918,LandGrey/SpringBootVulExploit,-1,-1,-1,-1,-1,-1,1,3,5,...,2,31,7,31,-1,-1,-1,-1,2,2
217919,mucomplex/Pentest_checklist,-1,134,88,69,61,54,1,3,5,...,2,31,7,31,34,32,34,32,2,2
217920,bigsen/Vision_Track,86,-1,-1,-1,8,5,1,3,3,...,2,11,7,-1,-1,3,2,2,2,2
217921,ivanol55/cka-notes,258,154,111,85,77,68,1,3,5,...,2,31,7,31,42,43,42,42,2,2

In [27]:
print("saving results to disk")
try:
    old_results = from_disk(f'results/{cust_dir}/hdb_results')
    concat_results = pd.concat([old_results, results])
    concat_results.drop_duplicates(inplace=True)
    to_disk_results(concat_results, f'hdb_results', subdir=f"{cust_dir}")
except FileNotFoundError:
    to_disk_results(results, f'hdb_results', subdir=f"{cust_dir}")
to_disk_results(hdb_labels_results, f'hdb_labels_results_{t_name}', subdir=f"{cust_dir}")

saving results to disk
reading /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/results/ar3//hdb_results.pkl
writing /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/results/ar3//hdb_results.pkl
writing /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/results/ar3//hdb_labels_results_t2.4.1s+2.4.4+2.4.2+2.4.6.pkl

In [28]:

umap_embedding['topics'] = testset['topics']
umap_clusterable_embedding['topics'] = testset['topics']

In [29]:
import sklearn.cluster as cluster

def clusterapply_kmeans(testset, clustersize, runner_name, opt_comment=""):
    # Perform k-means clustering
    
    kmeans = cluster.KMeans(n_clusters=clustersize, random_state=42)
        
    if('y' in testset.columns):
        #print("assuming umap reduced testset here")
        testset = testset.copy()
        dropping_not_connected = len(testset[testset['y'].isnull()])
        testset = testset[testset['y'].notna()]
        cr_start()
        kmeans.fit(testset[['x', 'y']].to_numpy())
        runtime_kmeans = cr_getrt()
        opt_comment="-umapt"
    else:
        dropping_not_connected = 0
        cr_start()
        kmeans.fit(word_doc_matrix)
        runtime_kmeans = cr_getrt()

    
    stats = {'type': f"kmeans{opt_comment}",
             'testset': t_name,
             'version': td_version,
             'size': clustersize
            }
    
    detail_stats = {'tdf': f"rt_vect: {runtime_vectorizer}, min_df: {tdidf_min_df}, max_df: {tdidf_max_df}, stopwords: {use_stopwords}, extended stopwords: {use_extended_stopwords}",
                'runtime': runtime_kmeans
               }
    
    if('y' in testset.columns):
        detail_stats['umap'] = f"{umap_metric}, rt_umap_tf: {runtime_umap_transform}, rt_umap: {runtime_umap}, ncomp: {umap_ncomponents}, rs: {umap_random_state}, min_dist: {umap_min_dist}, no_neigh: {umap_n_neighbors}", #umap not important here
        stats['no_con'] = dropping_not_connected

    prediction = stats
    prediction['name'] = runner_name
    #prediction.update(max_fscore(my_results[[tag, 'clabel']].apply(tuple, axis=1).to_dict()))
    #prediction.update({'tot_clust': total_clusters, 'no_lab':missing_clabel})
    prediction.update(detail_stats)
    res.append(prediction.copy())
        
    display(pd.DataFrame.from_dict(res))
    return kmeans.labels_
    #testset.drop(['cluster_run'], axis=1)

In [30]:
res = []

kmeans_labels_results = pd.DataFrame()
kmeans_labels_results['name'] = umap_embedding[umap_embedding['y'].notna()]['name'].copy()

for i in range(min_cluster, max_cluster, clust_int): # 10, 60
    runner_name = f'{i}'
    kmeans_labels_results[runner_name] = clusterapply_kmeans(umap_embedding, i, runner_name)

results = pd.DataFrame.from_dict(res)
res = []

#k_means_df[['x', 'y']].to_numpy(), 
#word_doc_matrix

,type,testset,version,size,no_con,name,tdf,runtime,umap
0,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,13,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.289502,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."

,type,testset,version,size,no_con,name,tdf,runtime,umap
0,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,13,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.289502,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
1,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.365278,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."

,type,testset,version,size,no_con,name,tdf,runtime,umap
0,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,13,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.289502,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
1,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.365278,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
2,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,13,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.624357,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."

,type,testset,version,size,no_con,name,tdf,runtime,umap
0,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,13,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.289502,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
1,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.365278,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
2,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,13,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.624357,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
3,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,13,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.914457,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."

,type,testset,version,size,no_con,name,tdf,runtime,umap
0,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,13,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.289502,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
1,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.365278,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
2,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,13,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.624357,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
3,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,13,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.914457,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
4,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,13,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.592358,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."

,type,testset,version,size,no_con,name,tdf,runtime,umap
0,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,13,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.289502,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
1,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.365278,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
2,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,13,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.624357,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
3,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,13,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.914457,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
4,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,13,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.592358,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
5,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,13,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.782537,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."

,type,testset,version,size,no_con,name,tdf,runtime,umap
0,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,13,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.289502,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
1,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.365278,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
2,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,13,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.624357,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
3,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,13,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.914457,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
4,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,13,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.592358,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
5,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,13,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.782537,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
6,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,13,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.959994,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."

,type,testset,version,size,no_con,name,tdf,runtime,umap
0,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,13,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.289502,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
1,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.365278,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
2,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,13,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.624357,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
3,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,13,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.914457,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
4,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,13,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.592358,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
5,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,13,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.782537,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
6,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,13,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.959994,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
7,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,31,13,31,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",3.597533,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."

,type,testset,version,size,no_con,name,tdf,runtime,umap
0,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,13,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.289502,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
1,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.365278,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
2,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,13,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.624357,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
3,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,13,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.914457,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
4,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,13,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.592358,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
5,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,13,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.782537,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
6,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,13,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.959994,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
7,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,31,13,31,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",3.597533,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
8,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,34,13,34,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",3.693667,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."

,type,testset,version,size,no_con,name,tdf,runtime,umap
0,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,13,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.289502,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
1,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.365278,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
2,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,13,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.624357,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
3,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,13,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.914457,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
4,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,13,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.592358,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
5,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,13,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.782537,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
6,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,13,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.959994,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
7,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,31,13,31,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",3.597533,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
8,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,34,13,34,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",3.693667,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
9,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,37,13,37,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",4.014068,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."

,type,testset,version,size,no_con,name,tdf,runtime,umap
0,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,13,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.289502,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
1,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.365278,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
2,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,13,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.624357,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
3,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,13,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.914457,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
4,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,13,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.592358,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
5,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,13,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.782537,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
6,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,13,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.959994,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
7,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,31,13,31,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",3.597533,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
8,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,34,13,34,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",3.693667,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
9,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,37,13,37,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",4.014068,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
10,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,40,13,40,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",4.281579,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."

,type,testset,version,size,no_con,name,tdf,runtime,umap
0,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,13,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.289502,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
1,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.365278,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
2,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,13,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.624357,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
3,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,13,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.914457,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
4,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,13,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.592358,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
5,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,13,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.782537,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
6,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,13,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.959994,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
7,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,31,13,31,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",3.597533,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
8,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,34,13,34,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",3.693667,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
9,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,37,13,37,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",4.014068,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
10,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,40,13,40,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",4.281579,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
11,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,43,13,43,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",4.408274,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."

,type,testset,version,size,no_con,name,tdf,runtime,umap
0,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,13,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.289502,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
1,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.365278,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
2,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,13,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.624357,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
3,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,13,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.914457,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
4,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,13,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.592358,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
5,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,13,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.782537,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
6,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,13,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.959994,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
7,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,31,13,31,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",3.597533,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
8,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,34,13,34,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",3.693667,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
9,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,37,13,37,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",4.014068,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
10,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,40,13,40,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",4.281579,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
11,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,43,13,43,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",4.408274,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
12,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,46,13,46,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",5.187663,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."

,type,testset,version,size,no_con,name,tdf,runtime,umap
0,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,13,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.289502,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
1,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.365278,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
2,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,13,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.624357,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
3,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,13,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",1.914457,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
4,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,13,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.592358,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
5,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,13,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.782537,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
6,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,13,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",2.959994,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
7,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,31,13,31,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",3.597533,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
8,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,34,13,34,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",3.693667,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
9,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,37,13,37,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",4.014068,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
10,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,40,13,40,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",4.281579,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
11,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,43,13,43,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",4.408274,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
12,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,46,13,46,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",5.187663,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."
13,kmeans-umapt,t2.4.1s+2.4.4+2.4.2+2.4.6,1,49,13,49,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",5.250296,"(hellinger, rt_umap_tf: 1433.106828212738, rt_..."

In [31]:
kmeans_labels_results

,name,10,13,16,19,22,25,28,31,34,37,40,43,46,49
0,technopagan/mss-saliency,1,1,11,7,9,24,17,18,17,9,27,16,13,16
1,snmnmin12/selective-search,1,7,11,7,9,24,17,18,17,9,1,22,33,22
2,google/chaps-linux,7,12,10,12,21,3,15,20,24,33,3,8,20,46
3,lukasolson/speech-router,2,2,4,2,3,13,14,7,20,5,31,12,43,12
4,XavierTecBr/qbr-admin,9,3,2,16,12,22,10,2,2,10,8,10,36,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217917,bhagatabhijeet/bhagatabhijeet,9,3,2,16,12,22,26,2,2,14,8,15,10,15
217918,LandGrey/SpringBootVulExploit,0,11,1,1,15,15,0,4,0,0,16,1,39,1
217919,mucomplex/Pentest_checklist,7,12,10,9,7,3,15,10,24,8,3,21,38,8
217920,bigsen/Vision_Track,9,3,14,11,11,0,23,11,33,17,21,14,14,14
217921,ivanol55/cka-notes,0,0,9,14,1,17,9,22,22,13,39,7,15,7

In [32]:
print("saving results to disk")
try:
    old_results = from_disk(f'results/{cust_dir}/kmeans-umap_results')
    concat_results = pd.concat([old_results, results])
    concat_results.drop_duplicates(inplace=True)
    to_disk_results(concat_results, f'kmeans-umap_results', subdir=f"{cust_dir}")
except FileNotFoundError:
    to_disk_results(results, f'kmeans-umap_results', subdir=f"{cust_dir}")
    
to_disk_results(kmeans_labels_results, f'kmeans-umap_labels_results_{t_name}', subdir=f"{cust_dir}")

saving results to disk
reading /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/results/ar3//kmeans-umap_results.pkl
writing /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/results/ar3//kmeans-umap_results.pkl
writing /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/results/ar3//kmeans-umap_labels_results_t2.4.1s+2.4.4+2.4.2+2.4.6.pkl

In [33]:
res = []

kmeans_labels_results = pd.DataFrame()
kmeans_labels_results['name'] = testset['name'].copy()


for i in range(min_cluster, max_cluster, clust_int): # 10, 60
    runner_name = f'{i}'
    kmeans_labels_results[runner_name] = clusterapply_kmeans(testset, i, runner_name)

results = pd.DataFrame.from_dict(res)
res = []

#k_means_df[['x', 'y']].to_numpy(), 
#word_doc_matrix

,type,testset,version,size,name,tdf,runtime
0,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",14.950567

,type,testset,version,size,name,tdf,runtime
0,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",14.950567
1,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",18.415072

,type,testset,version,size,name,tdf,runtime
0,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",14.950567
1,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",18.415072
2,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",24.800716

,type,testset,version,size,name,tdf,runtime
0,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",14.950567
1,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",18.415072
2,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",24.800716
3,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",31.991631

,type,testset,version,size,name,tdf,runtime
0,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",14.950567
1,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",18.415072
2,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",24.800716
3,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",31.991631
4,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",35.102360

,type,testset,version,size,name,tdf,runtime
0,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",14.950567
1,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",18.415072
2,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",24.800716
3,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",31.991631
4,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",35.102360
5,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",45.014509

,type,testset,version,size,name,tdf,runtime
0,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",14.950567
1,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",18.415072
2,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",24.800716
3,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",31.991631
4,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",35.102360
5,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",45.014509
6,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",52.981711

,type,testset,version,size,name,tdf,runtime
0,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",14.950567
1,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",18.415072
2,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",24.800716
3,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",31.991631
4,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",35.102360
5,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",45.014509
6,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",52.981711
7,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,31,31,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",55.347973

,type,testset,version,size,name,tdf,runtime
0,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",14.950567
1,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",18.415072
2,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",24.800716
3,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",31.991631
4,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",35.102360
5,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",45.014509
6,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",52.981711
7,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,31,31,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",55.347973
8,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,34,34,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",85.030939

,type,testset,version,size,name,tdf,runtime
0,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",14.950567
1,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",18.415072
2,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",24.800716
3,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",31.991631
4,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",35.102360
5,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",45.014509
6,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",52.981711
7,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,31,31,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",55.347973
8,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,34,34,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",85.030939
9,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,37,37,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",80.365593

,type,testset,version,size,name,tdf,runtime
0,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",14.950567
1,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",18.415072
2,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",24.800716
3,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",31.991631
4,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",35.102360
5,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",45.014509
6,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",52.981711
7,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,31,31,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",55.347973
8,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,34,34,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",85.030939
9,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,37,37,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",80.365593
10,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,40,40,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",81.321465

,type,testset,version,size,name,tdf,runtime
0,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",14.950567
1,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",18.415072
2,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",24.800716
3,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",31.991631
4,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",35.102360
5,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",45.014509
6,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",52.981711
7,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,31,31,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",55.347973
8,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,34,34,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",85.030939
9,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,37,37,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",80.365593
10,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,40,40,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",81.321465
11,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,43,43,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",85.648154

,type,testset,version,size,name,tdf,runtime
0,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",14.950567
1,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",18.415072
2,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",24.800716
3,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",31.991631
4,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",35.102360
5,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",45.014509
6,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",52.981711
7,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,31,31,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",55.347973
8,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,34,34,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",85.030939
9,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,37,37,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",80.365593
10,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,40,40,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",81.321465
11,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,43,43,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",85.648154
12,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,46,46,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",121.301355

,type,testset,version,size,name,tdf,runtime
0,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,10,10,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",14.950567
1,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,13,13,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",18.415072
2,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,16,16,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",24.800716
3,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,19,19,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",31.991631
4,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,22,22,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",35.102360
5,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,25,25,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",45.014509
6,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,28,28,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",52.981711
7,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,31,31,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",55.347973
8,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,34,34,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",85.030939
9,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,37,37,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",80.365593
10,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,40,40,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",81.321465
11,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,43,43,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",85.648154
12,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,46,46,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",121.301355
13,kmeans,t2.4.1s+2.4.4+2.4.2+2.4.6,1,49,49,"rt_vect: 3.364668130874634, min_df: 4, max_df:...",127.572704

In [34]:
kmeans_labels_results

,name,10,13,16,19,22,25,28,31,34,37,40,43,46,49
0,technopagan/mss-saliency,8,7,9,0,14,6,25,21,0,13,10,16,39,37
1,snmnmin12/selective-search,8,7,9,0,14,6,25,21,0,23,10,16,39,37
2,google/chaps-linux,7,11,0,9,4,4,16,25,28,12,28,21,24,5
3,lukasolson/speech-router,1,9,15,15,10,5,6,1,17,21,4,2,25,41
4,XavierTecBr/qbr-admin,5,2,5,1,7,0,7,7,9,15,5,13,20,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217917,bhagatabhijeet/bhagatabhijeet,6,3,12,13,0,3,12,24,12,16,32,29,0,14
217918,LandGrey/SpringBootVulExploit,3,2,5,1,7,17,7,7,9,6,17,13,20,8
217919,mucomplex/Pentest_checklist,5,12,4,16,20,24,9,25,7,10,22,11,22,24
217920,bigsen/Vision_Track,2,4,11,14,14,6,2,5,19,23,13,14,1,48
217921,ivanol55/cka-notes,3,6,6,17,19,2,14,13,26,33,6,4,13,0

In [35]:
print("saving results to disk")

try:
    old_results = from_disk(f'results/{cust_dir}/kmeans_results')
    concat_results = pd.concat([old_results, results])
    concat_results.drop_duplicates(inplace=True)
    to_disk_results(concat_results, f'kmeans_results', subdir=f"{cust_dir}")
except FileNotFoundError:
    to_disk_results(results, f'kmeans_results', subdir=f"{cust_dir}")
    
to_disk_results(kmeans_labels_results, f'kmeans_labels_results_{t_name}', subdir=f"{cust_dir}")

saving results to disk
reading /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/results/ar3//kmeans_results.pkl
writing /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/results/ar3//kmeans_results.pkl
writing /home/manuel/d3tect-tools/Notebooks/raw_testdata_v1/results/ar3//kmeans_labels_results_t2.4.1s+2.4.4+2.4.2+2.4.6.pkl